<div class="testimonios">
<!--     <div>
        <p class="parrafos-testimonios">
            
Recomiendo este gran equipo humano a cualquier persona. Acabo de vender mi casa con ellos y todo son palabras de agradecimiento por su profesionalidad, experiencia y buen trato humano. El personal siempre con una sonrisa, dándote siempre su apoyo y amabilidad. Además si tienes algún problema con la financiación te buscan soluciones, eso es muy importante en momentos de dificultad. Obviamente recomiendo este gran equipo humano a cualquier persona.
        </p>
    </div>
    <div>
        <h5 class="nombre-testimonio">JUAN PEREZ</h5>
        <h6 style="padding-top: 3px" class="nombre-testimonio">Cliente de compra de inmueble</h6>
    </div> -->

    <div class="container-imagenes">

        <ul class="slidert">
          <li id="slide1" [hidden]="hidden_imagen_uno" class="grow" >
              <div>
                         <p class="parrafos-testimonios">
            
                Recomiendo este gran equipo humano a cualquier persona.
                        </p>     
              </div>
              <div>
                <h5 class="nombre-testimonio">JUAN PEREZ</h5>
                <h6 style="padding-top: 3px" class="nombre-testimonio">Cliente de compra de inmueble</h6>
            </div>
          </li>
          <li id="slide2" [hidden]="hidden_imagen_dos">
              <div>
                         <p class="parrafos-testimonios">
            
                Recomiendo este gran equipo humano a cualquier persona. Acabo de vender mi casa con ellos y todo son palabras de agradecimiento por su profesionalidad, experiencia y buen trato humano. El personal siempre con una sonrisa, dándote siempre su apoyo y amabilidad. Además si tienes algún problema con la financiación te buscan soluciones, eso es muy importante en momentos de dificultad. Obviamente recomiendo este gran equipo humano a cualquier persona.
                        </p>     
              </div>

                        <div>
                            <h5 class="nombre-testimonio">JUAN PEREZ</h5>
                            <h6 style="padding-top: 3px" class="nombre-testimonio">Cliente de compra de inmueble</h6>
                        </div>
          </li>
          <li id="slide3" [hidden]="hidden_imagen_tres">
            <div>
                <p class="parrafos-testimonios">
   
       Recomiendo este gran equipo humano a cualquier persona. 
               </p>     
     </div>

               <div>
                   <h5 class="nombre-testimonio">JUAN PEREZ</h5>
                   <h6 style="padding-top: 3px" class="nombre-testimonio">Cliente de compra de inmueble</h6>
               </div>
          </li>
        </ul>
      </div>
      <div>
        <ul class="menu">
            <li>
              <a  id="primer-imagen" (click)="primeraImagen()" style="cursor: pointer;"></a>
            </li>
            <li>
              <a id="segundo-imagen" (click)="segundaImagen()" style="cursor: pointer;"></a>
            </li>
             <li>
              <a id="tercer-imagen" (click)="terceraImagen()" style="cursor: pointer;"></a>
            </li>
          </ul>
  
      </div>


</div>
