<footer>
    <div class="contenido-footer">
        <div class="quienes-somos">
            <div>
                <h5 class="titulo-footer">¿QUIÉNES SOMOS?</h5>
                <p class="parrafo-quienes-somos">
                    Empresa dedicada a brindar la mejor alternativa para vender y comprar un departamento o casa. Te acompañamos desde el inicio hasta el final. Además, gestionamos la mejor opción de crédito para ti.
                </p>
            </div>
        </div>
        <div class="vl"></div>
        <div class="sobre-nosotros">
            <div>
                <h5 class="titulo-footer">SOBRE NOSOTROS</h5>
                <div>
                    <span class="parrafo-quienes-somos">Términos y condiciones de Uso</span><br>
                    <span class="parrafo-quienes-somos">Casos de éxito</span>
                </div>
                <div class="div-icons">
                    <span class="icon-footer"><i class="bi bi-facebook"></i></span>
                    <span class="icon-footer"><i class="bi bi-instagram"></i></span>
                    <span class="icon-footer"><i class="bi bi-whatsapp"></i></span>
                </div>
            </div>
        </div>
        <div class="vl"></div>
        <div class="servicio-cliente">
            <div>
                <h5 class="titulo-footer">SERVICIO AL CLIENTE</h5>
                <div>
                    <span class="parrafo-quienes-somos">Contacto</span><br>
                    <span class="parrafo-quienes-somos">Ayuda</span><br>
                </div>
            </div>
        </div>
    </div>
</footer>