<div style="text-align: center;margin-top:70px;font-size:21px;font-weight:bold">
    LISTA DE PERFILES
 </div>
 
 <div style="margin-top: 20px;margin:20px 50px">
    <table  datatable [dtOptions]="dtOptions"  class="table table-bordered row-border hover">
        <thead >
            <tr>
                <th class="color_cabecera_tabla"><span  class="titulo_cabecera">DATA TEXTO 1</span> </th>
                <th class="color_cabecera_tabla"><span  class="titulo_cabecera">DATA TEXTO 2</span></th>
                <th class="color_cabecera_tabla"><span  class="titulo_cabecera">DATA ENTERO 1</span></th>
                <th class="color_cabecera_tabla"><span  class="titulo_cabecera">DATA ENTERO 2</span></th>
                <th class="color_cabecera_tabla"><span  class="titulo_cabecera">DATA FECHA 1</span></th>
                <th class="color_cabecera_tabla"><span  class="titulo_cabecera">DATA FECHA 1</span></th>
                <th class="color_cabecera_tabla"><span  class="titulo_cabecera">ESTADO</span></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Dato 1</td>
                <td>Dato 2</td>
                <td>Dato 3</td>
                <td>Dato 4</td>
                <td>Dato 5</td>
                <td>Dato 6</td>
                <td>
                    <span  (click)="presionar()"><button class="btn">Presionar</button></span> 
                </td>
            </tr>
            <tr>
                <td>Dato 1</td>
                <td>Dato 2</td>
                <td>Dato 3</td>
                <td>Dato 4</td>
                <td>Dato 5</td>
                <td>Dato 6</td>
                <td>
                    <span  style="color:blue"><b>Activo</b></span>
                    <span  style="color:red"><b>Inactivo</b></span>
                </td>
            </tr>
            <tr>
                <td>Dato 1</td>
                <td>Dato 2</td>
                <td>Dato 3</td>
                <td>Dato 4</td>
                <td>Dato 5</td>
                <td>Dato 6</td>
                <td>
                    <span  style="color:blue"><b>Activo</b></span>
                    <span  style="color:red"><b>Inactivo</b></span>
                </td>
            </tr>
            <tr>
                <td>Dato 1</td>
                <td>Dato 2</td>
                <td>Dato 3</td>
                <td>Dato 4</td>
                <td>Dato 5</td>
                <td>Dato 6</td>
                <td>
                    <span  style="color:blue"><b>Activo</b></span>
                    <span  style="color:red"><b>Inactivo</b></span>
                </td>
            </tr>
            <tr>
                <td>Dato 1</td>
                <td>Dato 2</td>
                <td>Dato 3</td>
                <td>Dato 4</td>
                <td>Dato 5</td>
                <td>Dato 6</td>
                <td>
                    <span  style="color:blue"><b>Activo</b></span>
                    <span  style="color:red"><b>Inactivo</b></span>
                </td>
            </tr>
            <tr>

                <td>Dato 1</td>
                <td>Dato 2</td>
                <td>Dato 3</td>
                <td>Dato 4</td>
                <td>Dato 5</td>
                <td>Dato 6</td>
                <td>
                    <span  style="color:blue"><b>Activo</b></span>
                    <span  style="color:red"><b>Inactivo</b></span>
                </td>
            </tr>
            <tr>
                <td>Dato 1</td>
                <td>Dato 2</td>
                <td>Dato 3</td>
                <td>Dato 4</td>
                <td>Dato 5</td>
                <td>Dato 6</td>
                <td>
                    <span  style="color:blue"><b>Activo</b></span>
                    <span  style="color:red"><b>Inactivo</b></span>
                </td>
            </tr>
            <tr>
                <td>Dato 1</td>
                <td>Dato 2</td>
                <td>Dato 3</td>
                <td>Dato 4</td>
                <td>Dato 5</td>
                <td>Dato 6</td>
                <td>
                    <span  style="color:blue"><b>Activo</b></span>
                    <span  style="color:red"><b>Inactivo</b></span>
                </td>
            </tr>
            <tr>
                <td>Dato 1</td>
                <td>Dato 2</td>
                <td>Dato 3</td>
                <td>Dato 4</td>
                <td>Dato 5</td>
                <td>Dato 6</td>
                <td>
                    <span  style="color:blue"><b>Activo</b></span>
                    <span  style="color:red"><b>Inactivo</b></span>
                </td>
            </tr>
            <tr>
                <td>Dato 1</td>
                <td>Dato 2</td>
                <td>Dato 3</td>
                <td>Dato 4</td>
                <td>Dato 5</td>
                <td>Dato 6</td>
                <td>
                    <span  style="color:blue"><b>Activo</b></span>
                    <span  style="color:red"><b>Inactivo</b></span>
                </td>
            </tr>
            <tr>
                <td>Dato 1</td>
                <td>Dato 2</td>
                <td>Dato 3</td>
                <td>Dato 4</td>
                <td>Dato 5</td>
                <td>Dato 6</td>
                <td>
                    <span  style="color:blue"><b>Activo</b></span>
                    <span  style="color:red"><b>Inactivo</b></span>
                </td>
            </tr>
            <tr>
                <td>Dato 1</td>
                <td>Dato 2</td>
                <td>Dato 3</td>
                <td>Dato 4</td>
                <td>Dato 5</td>
                <td>Dato 6</td>
                <td>
                    <span  style="color:blue"><b>Activo</b></span>
                    <span  style="color:red"><b>Inactivo</b></span>
                </td>
            </tr>
            <tr>
                <td>Dato 1</td>
                <td>Dato 2</td>
                <td>Dato 3</td>
                <td>Dato 4</td>
                <td>Dato 5</td>
                <td>Dato 6</td>
                <td>
                    <span  style="color:blue"><b>Activo</b></span>
                    <span  style="color:red"><b>Inactivo</b></span>
                </td>
            </tr>
            <tr>
                <td>Dato 1</td>
                <td>Dato 2</td>
                <td>Dato 3</td>
                <td>Dato 4</td>
                <td>Dato 5</td>
                <td>Dato 6</td>
                <td>
                    <span  style="color:blue"><b>Activo</b></span>
                    <span  style="color:red"><b>Inactivo</b></span>
                </td>
            </tr>
            <tr>
                <td>Dato 1</td>
                <td>Dato 2</td>
                <td>Dato 3</td>
                <td>Dato 4</td>
                <td>Dato 5</td>
                <td>Dato 6</td>
                <td>
                    <span  style="color:blue"><b>Activo</b></span>
                    <span  style="color:red"><b>Inactivo</b></span>
                </td>
            </tr>
            <tr>
                <td>Dato 1</td>
                <td>Dato 2</td>
                <td>Dato 3</td>
                <td>Dato 4</td>
                <td>Dato 5</td>
                <td>Dato 6</td>
                <td>
                    <span  style="color:blue"><b>Activo</b></span>
                    <span  style="color:red"><b>Inactivo</b></span>
                </td>
            </tr>
            <tr>
                <td>Dato 1</td>
                <td>Dato 2</td>
                <td>Dato 3</td>
                <td>Dato 4</td>
                <td>Dato 5</td>
                <td>Dato 6</td>
                <td>
                    <span  style="color:blue"><b>Activo</b></span>
                    <span  style="color:red"><b>Inactivo</b></span>
                </td>
            </tr>

        </tbody>

    </table>
</div>