<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->

      <!-- Icon -->
      <div class="fadeIn first">
        <img src="../../../assets/icons/ide-solution.png" id="icon" alt="User Icon" />
      </div>

      <!-- Login Form -->
      <form>
        <select class="seleccionar-empresa" (change)="seleccionarEmpresa($any($event.target).value)" >
          <option selected value="0">Seleccione Empresa</option>
          <option value="1">Empresa 1</option>
          <option value="2">Empresa 2</option>
          <option value="3">Empresa 3</option>
        </select>
        <input type="text" id="login"  class="fadeIn second" name="login" placeholder="Usuario">
        <input type="password" id="password" class="fadeIn third" name="login" placeholder="Contraseña">
        <input type="submit" (click)="login()" class="fadeIn fourth" value="Iniciar Sesión">
      </form>

      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" href="#">¿Olvidaste tu contraseña?</a>
      </div>

    </div>
  </div>
